.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 8px;
  justify-items: center;
  align-items: center;
}

.day {
  /* border-radius: 50%; */
  background-color: var(--color-primary);
}
